:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Benzin", sans-serif;
}

/* * {
  outline: 1px solid red !important;
} */

html {
  overflow-x: hidden;
}

body {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 17px;
  background: #f8f7f3;
  overflow-x: hidden;
}

/* .header,
.hero,
.label__slider,
.cards__slider,
.demo__slider,
.stages,
.design,
.footer {
  display: none !important;
} */

.header,
.hero,
.label__slider,
.cards__slider,
.demo__slider,
.stages,
.design,
.footer__container {
  width: 1170px;
  justify-self: center;
}

.btn {
  background: #f8aa3e;
  transition: background .4s;
}

.btn:hover {
  background: #eca036;
}

/* ============   HEADER   =============== */
/* ============   HEADER   =============== */
/* ============   HEADER   =============== */

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  padding: 35px 0 0;
  margin-bottom: 70px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav__list-item {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  transition: opacity .4s, visibility .4s;
}

.nav__list-item:after {
  opacity: 0;
  visibility: hidden;
  content: '';
  position: absolute;
  border: 1px solid #ffb142;
  width: 100%;
  left: 0;
  bottom: -7px;
  transition: opacity .4s, visibility .4s;
}

.nav__list-item:hover:after,
.nav__list-item--active.nav__list-item:after {
  opacity: 1;
  visibility: visible;
}

.nav__list-item--active {
  font-weight: 600;
}

.nav__list-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--second-family);
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #fff;
  padding: 25px;

  border-radius: 15px;
  width: 249px;
  height: 71px;
  box-shadow: 10px 14px 30px 0 rgba(0, 0, 0, 0.19);
  background: #f8aa3e;
}

/* Бургер меню */
.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: #f8aa3e;
  cursor: pointer;
}

.burger-menu span {
  display: block;
  border-radius: 85px;
  width: 29px;
  height: 4px;
  background: #fff;
  transition: all 0.3s;
}

/* @media (max-width: 768px) {
  .burger-menu {
    display: flex;
    z-index: 11;
  }

  .header a {
    z-index: 11;
  }

  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 10;

    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
  }

  .header__nav.active {
    display: flex;
    transform: translateY(0);
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .nav__list-item {
    font-size: 30px;
  }

  .nav__list-item:after {
    bottom: -2px;
  }

  .nav__list-btn {
    width: 300px;
    height: 90px;
    font-size: 27px;
  }
} */

/* ============   HERO   =============== */
/* ============   HERO   =============== */
/* ============   HERO   =============== */

.hero {
  position: relative;
  display: flex;
  justify-self: center;
  margin-bottom: 190px;
}

.hero__content {
  max-width: 670px;
}

.hero__top {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 33px;
  border-bottom: 1px solid #bfbfbf;
}

.hero__title--mobile {
  display: none;
  max-width: 670px;

  font-family: var(--second-family);
  font-weight: bold;
  font-size: 45px;
  line-height: 149%;
  text-transform: uppercase;
  text-align: right;
  color: #131313;
}

.hero__title {
  max-width: 670px;

  font-family: var(--second-family);
  font-weight: bold;
  font-size: 45px;
  line-height: 149%;
  text-transform: uppercase;
  text-align: right;
  color: #131313;
}

.hero__subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  margin-bottom: 30px;

  font-family: var(--second-family);
  font-weight: bold;
  font-size: 32px;
  line-height: 98%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 10px 20px 7px;

  border: 2.28px solid #ec9e30;
  border-radius: 17px;

  box-shadow: 11px 11px 34px 0 rgba(100, 94, 85, 0.6);
  background: linear-gradient(56deg, #ffb142 0%, #f6a93d 100%);
  transform: rotate(-1deg);
}

.hero__subtitle span {
  font-size: 20px;
}

.hero__descr {
  max-width: 400px;
  margin-bottom: 25px;

  font-size: 19px;
  line-height: 147%;
  text-align: right;
  color: #282828;
}

.hero__bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 17px;
}

.hero__bottom-input {
  border: 2px solid #a2a2a2;
  border-radius: 12px;
  width: 325px;
  height: 74px;
  background: 0;

  font-weight: 500;
  font-size: 17px;
  line-height: 176%;
  color: #505050;
  padding: 22px 0 24px 23px;
  z-index: 1;
}

.hero__bottom-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--second-family);
  border-radius: 14px;
  width: 325px;
  height: 76px;
  box-shadow: 10px 14px 30px 0 rgba(0, 0, 0, 0.11);
  background: #f8aa3e;
  padding: 25px 0;

  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.hero__bottom-descr {
  max-width: 230px;

  font-weight: 500;
  font-size: 13px;
  line-height: 177%;
  color: #505050;
}

.hero__bottom-descr a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.hero__img {
  position: absolute;
  right: -110px;
  top: -50px;
  z-index: -1;
}

/* ============   LABEL SLIDER   =============== */
/* ============   LABEL SLIDER   =============== */
/* ============   LABEL SLIDER   =============== */

.label__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.label__swiper {
  width: 100%;
  max-width: 1169px;
}

.label__slider-title {
  max-width: 975px;
  margin-bottom: 71px;

  font-family: var(--second-family);
  font-weight: bold;
  font-size: 45px;
  line-height: 153%;
  text-transform: uppercase;
  text-align: center;
  color: #131313;
}

.label__slider-wrapper {
  margin-bottom: 57px;
}

.label__slider-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: var(--second-family);
  font-weight: bold;
  font-size: 21px;
  line-height: 133%;
  text-align: center;
  color: #282828;
}

.img__border {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 44px;
  width: 214px;
  height: 214px;
  border: 3px solid #dadada;
  border-radius: 50%;
}

/* НАВИГАЦИЯ */

.swiper-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}

.swiper-buttons {
  display: flex;
  gap: 20px;
}

.button-prev,
.button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 3px solid #f8aa3ea3;
  border-radius: 100%;
  background: none;
  transition: all .2s;
}

.swiper-button-disabled {
  border: 3px solid transparent;
}

/* По умолчанию показываем "enable" стрелку и скрываем "disable" стрелку */
.swiper__btn--enable-arrow {
  display: inline-block;
}

.swiper__btn--disable-arrow {
  display: none;
}

/* Когда добавляется класс .swiper-button-disabled, переключаем отображение SVG */
.swiper-button-disabled .swiper__btn--enable-arrow {
  display: none;
  /* Скрываем "enable" стрелку */
}

.swiper-button-disabled .swiper__btn--disable-arrow {
  display: inline-block;
  /* Показываем "disable" стрелку */
}

.button-prev .swiper__btn--enable-arrow {
  rotate: 180deg;
}

.button-next .swiper__btn--disable-arrow {
  rotate: 180deg;
}

.swiper-pagination {
  position: static;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: inherit;
}

.swiper-pagination-bullet {
  width: 46px;
  height: 4px;
  border-radius: 0;
  opacity: inherit;
}

.swiper-pagination-bullet-active {
  background: #f8aa3e !important;
}

/* ============   CARDS SLIDER   =============== */
/* ============   CARDS SLIDER   =============== */
/* ============   CARDS SLIDER   =============== */

.cards__slider {
  margin-bottom: 76px;
}

.cards__swiper {
  margin-bottom: 70px;
  overflow: visible;
}

.cards__slider-wrapper {
  margin-bottom: 54px;
}

.cards__slider-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 45px 34px 47px;
  border: 2px solid #f8aa3e;
  border-radius: 40px;
}

.cards__slider-col {
  max-width: 490px;
}

.cards__col-title {
  margin-bottom: 12px;
  font-family: var(--second-family);
  font-weight: bold;
  font-size: 29px;
  line-height: 197%;
  text-transform: uppercase;
  color: #131313;
}

.cards__col-text {
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 17px;
  line-height: 133%;
  color: #282828;
}

.cards__col-text span {
  font-weight: 600;
  color: #f8aa3e;
}

.cards__col-list-title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 17px;
  line-height: 133%;
  text-transform: uppercase;
  color: #282828;
}

.cards__col-list {
  margin-bottom: 33px;
  font-weight: 500;
  font-size: 17px;
  line-height: 133%;
  color: #282828;
}

.cards__col-list li {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 22px;
}

.cards__col-text--bold {
  font-weight: 700;
  font-size: 17px;
  line-height: 133%;
  text-transform: uppercase;
  color: #282828;
}

.cards__slider-img {
  border: 2.50px solid #ffb142;
  border-radius: 50px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.17);
  overflow: hidden;
}

.cards__slider-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ФОРМА */

.cards__form {
  display: flex;
  flex-wrap: wrap;
  gap: 0 30px;
  max-width: 1176px;
  margin: 0 auto;
}

.cards__form-title {
  margin-bottom: 60px;
  width: 1176px;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 43px;
  line-height: 131%;
  color: #131313;
}

.cards__form-inputs {
  display: flex;
  gap: 29px;
  margin-bottom: 30px;
}

.cards__form-input {
  border: 2px solid #a2a2a2;
  border-radius: 12px;
  width: 370px;
  height: 74px;
  background: 0;

  font-weight: 500;
  font-size: 17px;
  line-height: 176%;
  color: #505050;
  padding: 22px 0 24px 23px;
  z-index: 1;
}

.cards__form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--second-family);
  border-radius: 14px;
  width: 370px;
  height: 74px;
  box-shadow: 10px 14px 30px 0 rgba(0, 0, 0, 0.11);
  background: #f8aa3e;
  padding: 5px;

  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.cards__form-descr {
  font-weight: 500;
  font-size: 13px;
  line-height: 177%;
  color: #505050;
}

.cards__form-descr a {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

/* ============   DEMO SLIDER   =============== */
/* ============   DEMO SLIDER   =============== */
/* ============   DEMO SLIDER   =============== */

.demo__slider {
  margin-bottom: 70px;
}

.demo__slider-title {
  justify-self: center;
  margin-bottom: 100px;
  max-width: 1107px;
  font-family: var(--second-family);
  font-weight: bold;
  font-size: 38px;
  line-height: 182%;
  text-transform: uppercase;
  text-align: center;
  color: #131313;
}

.demo__slider-wrapper {
  margin-bottom: 100px;
}

.demo__swiper {
  overflow: visible;
}

.swiper-slide-active.demo__slider-slide {
  transform: scale(1.2);
  filter: brightness(1);
  transition: filter .4s, transform .4s;
}

.demo__slider-slide {
  filter: brightness(0.5);
  transition: filter .4s, transform .4s;
  border: 4px solid #f8aa3e;
  border-radius: 30px;
  overflow: hidden;
  object-fit: cover;
}

.demo__slider-slide img {
  width: 100%;
  height: 100%;
}

/* ============   STAGES   =============== */
/* ============   STAGES   =============== */
/* ============   STAGES   =============== */

.stages {
  margin-bottom: 130px;
}

.stages__title {
  justify-self: center;
  margin-bottom: 122px;
  max-width: 782px;
  font-family: var(--second-family);
  font-weight: bold;
  font-size: 40px;
  line-height: 172%;
  text-transform: uppercase;
  text-align: center;
  color: #131313;
}

.stages__cols {
  display: flex;
  gap: 31px;
}

.stages__col {
  position: relative;
}

.stages__col span {
  position: absolute;
  top: -107px;
  left: 35px;
  z-index: -1;

  font-family: var(--second-family);
  font-weight: bold;
  font-size: 83px;
  line-height: 203%;
  text-transform: uppercase;
  text-align: center;
  color: rgba(19, 19, 19, 0.1);
}

.stages__col p {
  max-width: 221px;
  font-weight: 600;
  font-size: 18px;
  line-height: 183%;
  color: #131313;
}

.stages__col-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 33px;
  border-radius: 25px;
  width: 269px;
  height: 269px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg, #fcfcfc 0%, #f7f7f7 100%);
}

/* ============   DESIGN   =============== */
/* ============   DESIGN   =============== */
/* ============   DESIGN   =============== */

.design {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.design__title,
.design__subtitle {
  max-width: 1069px;
  font-family: var(--second-family);
  font-weight: bold;
  font-size: 33px;
  line-height: 185%;
  text-transform: uppercase;
  text-align: center;
  color: #131313;
}

.design__subtitle {
  margin-bottom: 24px;
  font-size: 35px;
  line-height: 191%;
}

.design__title span,
.design__subtitle span {
  color: #ffb142;
}

.design__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.design__card {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 50px;
}

.design__card:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(180deg, rgba(248, 246, 241, 0) 0%, rgba(248, 246, 241, 0.86) 46%, #f8f6f1 100%);
  z-index: 1;
}

.design__card-img {
  position: relative;
}

.design__card-img:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-radius: 100%;
  background: linear-gradient(48deg, #ffb142 0%, transparent 100%);
  filter: blur(167.61001586914062px);
  z-index: -1;
}

.design__card-info {
  position: absolute;
  right: 0;
  bottom: 23px;
  border: 2.01px solid #fff;
  border-radius: 0 50px;
  backdrop-filter: blur(27.080852508544922px);
  box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.2);
  padding: 18px 25px 14px;
  z-index: 3;
}

.design__card-name {
  font-family: var(--second-family);
  font-weight: bold;
  font-size: 18px;
  line-height: 183%;
  text-align: center;
  color: #131313;
}

.design__card-job {
  font-weight: 500;
  font-size: 15px;
  line-height: 220%;
  text-align: center;
  color: #131313;
}

/* ФОРМА */

.design__form {
  display: flex;
  flex-wrap: wrap;
  gap: 0 30px;
  margin: 0 auto;
  width: 100%;
}

.design__form-title {
  margin-bottom: 60px;
  width: 100%;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 43px;
  line-height: 131%;
  color: #131313;
}

.design__form-title--center {
  display: none;
}

.design__form-title--center span {
  font-size: 40px;
  color: #f8aa3e;
  text-align: right;
}

.design__form-title--left {
  margin-bottom: 12px;
}

.design__form-title--right {
  font-size: 40px;
  color: #f8aa3e;
  text-align: right;
}

.design__form-inputs {
  display: flex;
  gap: 29px;
  margin-bottom: 30px;
}

.design__form-input {
  border: 2px solid #a2a2a2;
  border-radius: 12px;
  width: 370px;
  height: 74px;
  background: 0;

  font-weight: 500;
  font-size: 17px;
  line-height: 176%;
  color: #505050;
  padding: 22px 0 24px 23px;
  z-index: 1;
}

.design__form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--second-family);
  border-radius: 14px;
  width: 370px;
  height: 74px;
  box-shadow: 10px 14px 30px 0 rgba(0, 0, 0, 0.11);
  background: #f8aa3e;
  padding: 5px;

  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.design__form-descr {
  font-weight: 500;
  font-size: 13px;
  line-height: 177%;
  color: #505050;
}

.design__form-descr a {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.ribbons {
  width: 200%;
  margin-bottom: 130px;
}

.ribbon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  gap: 40px;

  white-space: nowrap;
  overflow: hidden;

  font-family: var(--second-family);
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;

  background: linear-gradient(90deg, #ffb142 35.12%, #db8815 100%);
  transform: rotate(3deg);
}

.ribbon:nth-child(1) {
  background: linear-gradient(90deg, rgba(253, 174, 63, 0.5) 0%, rgba(253, 174, 63, 0.5) 35.12%, rgba(253, 174, 63, 0.5) 100%);
  transform: rotate(3deg);
  transform: rotate(-3deg);
  position: relative;
  top: 50px;
}

/* ============   FOOTER   =============== */
/* ============   FOOTER   =============== */
/* ============   FOOTER   =============== */

.footer {
  display: flex;
  justify-content: center;
  padding: 16px 0 25px;
  background: #f8aa3e;
  border-top: 8px solid #fff;
  width: 100%;
}

.footer__container {
  display: flex;
  align-items: center;
  max-width: 1177px;
}

.footer__img {
  margin-right: 60px;
}

.footer__img-inner {
  display: none;
}

.footer__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: start;
  gap: 40px 0;
  margin-top: 45px;
}

.footer__list {
  display: grid;
  grid-template-columns: .1fr 1fr .1fr;
  grid-template-rows: 17px;
  margin-right: 70px;
  gap: 23px 55px;
  min-width: 393px;
}

.footer__list-item {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 22px;
}

.footer__socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  gap: 5px;
  border-radius: 100%;
  background-color: #fff;
}

.footer__bottom {
  grid-column: span 2;
  display: flex;
  align-items: center;
  gap: 52px;
}

.footer__bottom-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 200%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}

.footer__bottom-copyright {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.footer__ps {
  grid-row: span 2;
  justify-self: right;
  max-width: 185px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: right;
  color: #fff;
}

/* ============   MEDIA   =============== */
/* ============   MEDIA   =============== */
/* ============   MEDIA   =============== */