/* ============   DEMO SLIDER   =============== */
/* ============   DEMO SLIDER   =============== */
/* ============   DEMO SLIDER   =============== */

.demo__slider {
  margin-bottom: 70px;
}

.demo__slider-title {
  justify-self: center;
  margin-bottom: 100px;
  max-width: 1107px;
  font-family: var(--second-family);
  font-weight: bold;
  font-size: 38px;
  line-height: 182%;
  text-transform: uppercase;
  text-align: center;
  color: #131313;
}

.demo__slider-wrapper {
  margin-bottom: 100px;
}

.demo__swiper {
  overflow: visible;
}

.swiper-slide-active.demo__slider-slide {
  transform: scale(1.2);
  filter: brightness(1);
  transition: filter .4s, transform .4s;
}

.demo__slider-slide {
  filter: brightness(0.5);
  transition: filter .4s, transform .4s;
  border: 4px solid #f8aa3e;
  border-radius: 30px;
  overflow: hidden;
  object-fit: cover;
}

.demo__slider-slide img {
  width: 100%;
  height: 100%;
}