.header,
.hero,
.label__slider,
.cards__slider,
.demo__slider,
.stages,
.design,
.footer__container {
  width: 1170px;
  justify-self: center;
}

.btn {
  background: #f8aa3e;
  transition: background .4s;
}

.btn:hover {
  background: #eca036;
}